
.head {
background-color: rgb(33, 54, 41);
}
.foot {
background-color: rgb(33, 54, 41);
height: 104px;
}
.logo {
width: 90px;
height: 90px;
}
.mainbox {
border: 10px red solid;
height: 700px;
width: 900px;
}
.links {
color: salmon 
}
p {
border: solid black 1px;
}
.nike{
border: 2px solid red;
}
.test{
height: 2000px;
}
.testing {
text-align: center;
}
.slideshow{
height:1000px;
}