
.head {
background-color: white;
display:grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
grid-template-rows: 1fr 1fr 1fr ;
 ;

}
.foot {
background-color: #9ccb87;
height: 60px;
}
.logo {
width: 90px;
height: 90px;
grid-column: 1;
grid-row: 1/3;

}
.mainbox {
border: 10px red solid;
height: 700px;
width: 900px;
}
.links1 {
color: salmon;
font-size: 15px;
grid-column: 2;
grid-row: 2;
font-family: 'Cormorant SC', serif;
}
.links2 {
    color: salmon;
    font-size: 15px;
    grid-column: 4;
    grid-row: 2;
    font-family: 'Cormorant SC', serif;
}
.links3 {
    color: salmon;
    font-size: 15px;
    grid-column: 3;
    grid-row: 2;
    font-family: 'Cormorant SC', serif;
}
.links4 {
    color: salmon;
    font-size: 15px;

    grid-row: 1;
}

.testing {
text-align: center;
}
.slideshow{
height:1000px;
}
.maingrid{
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
grid-gap: 10%
}
.home-photo{
grid-column: 2/3;
}
.home-names{
grid-column: 4/5
}
.photo {
width: 400px
}
.link{
border: red solid 2px;
text-align: right;
}
.logo{
margin-right: 700px;
}
.venmo{
    max-width: 15px;
    max-height: 15px;
}
.venmo-div{
height: 40px
}
body{
margin: 0;
padding: 0;
}

.about-us-body{
padding: 0;
margin:0;
}
.slider-frame{
overflow: hidden;
height: 800px;
width:1200px;
margin-left: 360px;
margin-top: 20px;
}
.bottom-text{
text-align: center;
font-size: 15px;
}
.vooter-venmo{
text-align: center;
font-size: 20px;
}
.float-img1 {
float: left;
height: 200px;
width: 215px;
padding-right: 10px;
padding-left: 75px;
}
.float-img2{
float: right;
height: 200px;
width: 200px;
padding-left: 15px;
padding-right: 75px;
}
.paragraph1{
padding-left: 75px;
padding-right: 75px
}
.paragraph2{
padding-left: 75px;
padding-right: 75px;
}
.main-box-ac{
height: 475px;
width: auto;
}
.links3 {
padding-right: 20px;
}
.mid-paragraph{
font-size: 20px;
}